/* This file was created by Kevin Yu */

.checklist{
    background-color: #b0e0e6;
    font-size: 1cm;
    width: 30ex;
    height: 8em;
}
#title{
    color:pink;
    background-color: hsl(0, 0%, 50%);
    font-size: 50px;
    width: 300mm;
    height: 10rem;
    text-align: center;
    margin: auto;
}
#hostBy{
    color: rgb(221, 63%, 49%, 0.6); 
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 40%;
    margin-right: 30%;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    padding-right: 5pt;
}
*{
    font-style: italic;
}

h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a[href="ThreePigs.PNG"]{
    color: red;
}

footer:hover{
    color: pink;
}

video, audio{
    position: static;
}

body h3{
    margin: auto;
}

detail>summary{
    margin: auto;
}

img ~ nav{
    margin: auto;
}

h2 + h3{
    font-weight:100pt;
}

h3.checklist{
    max-width: 100cm;
    min-width: 1cm;
}