/* This file was created by Kevin Yu */

.checklist{
    background-color: #b0e0e6;
    font-size: 1cm;
    width: 30ex;
    height: 8em;
    display:list-item;
}
#title{
    color:pink;
    background-color: hsl(0, 0%, 50%);
    font-size: 50px;
    width: 300mm;
    height: 10rem;
    text-decoration: purple;
    text-align: center;
    margin: auto;
}
#hostBy{
    color: rgb(221, 63%, 49%, 0.6); 
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 40%;
    margin-right: 30%;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    padding-right: 5pt;
    border-style: ridge;
    border-color: pink;
    border-width: 3ex;
    border-radius: 3ex;
}
*{
    font-style: italic;
}

h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a[href="ThreePigs.PNG"]{
    color: red;
}

footer:hover{
    color: pink;
}

footer:active{
    color: red;
}

video, audio{
    position: static;
}

body h3{
    margin: auto;
}

.flexbox-container>main{
    margin: 5pt 5pt 5pt 5pt;
    padding: 5pt 5pt 5pt 5pt;
    display: flex;
    background-color: pink;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.grid{
    display: grid;
    background-color: pink;
    grid-auto-flow: column;
    grid-column-start: 2;
    grid-column-end: 5;
    align-self: center;
}

img ~ nav{
    margin: auto;
}

h2 + h3{
    font-weight:100pt;
}

h3.checklist{
    max-width: 100cm;
    min-width: 1cm;
}